
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read, write, and delete their own document in the 'users' collection.
    // The document ID must match the UID of the authenticated user.
    match /users/{userId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
